In [628]:
import numpy as np
import pandas as pd

In [629]:
import time
allStart = time.time()#計時開始

In [630]:
train_df = pd.read_csv("adult_data.csv")
test_df = pd.read_csv("adult_test.csv")

In [631]:
test_df.head()

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K.
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K.
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K.
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K.
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K.

In [632]:
#train_df.describe()

In [633]:
#移除離散之missing value
train_df = train_df.drop(train_df[(train_df.workclass == " ?") | (train_df.occupation == " ?") | (train_df.native_country ==" ?")].index)
test_df = test_df.drop(test_df[(test_df.workclass == " ?") | (test_df.occupation == " ?") | (test_df.native_country ==" ?")].index)

In [634]:
#隨機抽取n筆樣本
train_df = train_df.sample( n=25000 ,replace=False)
#test_df = test_df.sample( n=10000 ,replace=False)

In [635]:
#直接使用pretrain好的訓練集
train_df = pd.read_csv("tt25000.csv")

In [636]:
#將features取出，存為np array
x_train = train_df[["age","workclass","fnlwgt","education","education_num","marital_status","occupation","relationship","race","sex","capital_gain","capital_loss","hours_per_week","native_country"]].values
x_test = test_df[["age","workclass","fnlwgt","education","education_num","marital_status","occupation","relationship","race","sex","capital_gain","capital_loss","hours_per_week","native_country"]].values

In [637]:
#嘗試移除miss value過多的"capital_gain"和"capital_loss"
# x_train = train_df[["age","workclass","fnlwgt","education","education_num","marital_status","occupation","relationship","race","sex","hours_per_week","native_country"]].values
# x_test = test_df[["age","workclass","fnlwgt","education","education_num","marital_status","occupation","relationship","race","sex","hours_per_week","native_country"]].values

In [638]:
#將label轉存成1d np array
y_train = train_df[["income"]].values.ravel()
y_test = test_df[["income"]].values.ravel()

In [639]:
print(len(y_train))
print(len(y_test))

25000
15060

In [640]:
#將miss value(數值型態)用該欄位平均值填補
from sklearn.preprocessing import Imputer
imputer = Imputer(missing_values=0,strategy="mean",axis=0)
imputer = imputer.fit(x_train[:,[0,2,4,10,11,12]])
x_train[:,[0,2,4,10,11,12]] = imputer.transform(x_train[:,[0,2,4,10,11,12]])

from sklearn.preprocessing import Imputer
imputer = Imputer(missing_values=0,strategy="mean",axis=0)
imputer = imputer.fit(x_test[:,[0,2,4,10,11,12]])
x_test[:,[0,2,4,10,11,12]] = imputer.transform(x_test[:,[0,2,4,10,11,12]])

In [641]:
#將miss value(數值型態)用該欄位平均值填補
#嘗試移除miss value過多的"capital_gain"和"capital_loss"
# from sklearn.preprocessing import Imputer
# imputer = Imputer(missing_values=0,strategy="mean",axis=0)
# imputer = imputer.fit(x_train[:,[0,2,4,10]])
# x_train[:,[0,2,4,10]] = imputer.transform(x_train[:,[0,2,4,10]])

# from sklearn.preprocessing import Imputer
# imputer = Imputer(missing_values=0,strategy="mean",axis=0)
# imputer = imputer.fit(x_test[:,[0,2,4,10]])
# x_test[:,[0,2,4,10]] = imputer.transform(x_test[:,[0,2,4,10]])

In [642]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()

category = [1,3,5,6,7,8,9,13]
for i in category:
    x_train[:,i] = label_encoder.fit_transform(x_train[:,i])

y_train = label_encoder.fit_transform(y_train)

#----

category = [1,3,5,6,7,8,9,13]
for i in category:
    x_test[:,i] = label_encoder.fit_transform(x_test[:,i])

y_test = label_encoder.fit_transform(y_test)

In [643]:
#嘗試移除miss value過多的"capital_gain"和"capital_loss"
# from sklearn.preprocessing import LabelEncoder
# label_encoder = LabelEncoder()

# category = [1,3,5,6,7,8,9,11]
# for i in category:
#     x_train[:,i] = label_encoder.fit_transform(x_train[:,i])

# y_train = label_encoder.fit_transform(y_train)

# #----

# category = [1,3,5,6,7,8,9,11]
# for i in category:
#     x_test[:,i] = label_encoder.fit_transform(x_test[:,i])

# y_test = label_encoder.fit_transform(y_test)

In [644]:
x_train.shape

(25000, 14)

In [645]:
from sklearn.preprocessing import OneHotEncoder
onehot_encoder = OneHotEncoder(categorical_features = [1,3,5,6,7,8,9,13])
x_train = onehot_encoder.fit_transform(x_train).toarray()
x_test = onehot_encoder.fit_transform(x_test).toarray()

In [646]:
#嘗試移除miss value過多的"capital_gain"和"capital_loss"
# from sklearn.preprocessing import OneHotEncoder
# onehot_encoder = OneHotEncoder(categorical_features = [1,3,5,6,7,8,9,11])
# x_train = onehot_encoder.fit_transform(x_train).toarray()
# x_test = onehot_encoder.fit_transform(x_test).toarray()

In [647]:
x_train.shape

(25000, 103)

In [648]:
pd.DataFrame(x_train).head()

,0,1,2,3,4,5,6,7,8,9,...,93,94,95,96,97,98,99,100,101,102
0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,41.0,220460.0,9.0,12977.0,1867.0,40.0
1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,34.0,226296.0,13.0,12977.0,1867.0,40.0
2,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,23.0,137994.0,10.0,12977.0,1867.0,40.0
3,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,58.0,72998.0,7.0,14084.0,1867.0,40.0
4,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,42.0,373469.0,9.0,12977.0,1867.0,40.0

In [649]:
# from sklearn.model_selection import train_test_split
# x_train1,x_test1,y_train1,y_test1 = train_test_split(x_train,y_train,test_size=0.2,random_state=87)
# x_train.shape,x_test.shape,y_train.shape,y_test.shape

In [650]:
# Feature Scaling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train = sc.fit_transform(x_train)

sc = StandardScaler()
x_test = sc.fit_transform(x_test)

In [651]:
allEnd = time.time()#計時結束

In [652]:
print("time:",allEnd - allStart)#原型長這樣

time: 16.299838304519653

In [653]:
pd.DataFrame(x_test).head()

,0,1,2,3,4,5,6,7,8,9,...,93,94,95,96,97,98,99,100,101,102
0,-0.178098,-0.271374,0.605378,-0.198698,-0.306982,-0.215272,-0.021564,-0.165817,5.037339,-0.116013,...,-0.023054,0.303734,-0.035542,-0.021564,-1.029005,0.352098,-1.216563,4.975693e-13,-7.226466e-12,-0.078889
1,-0.178098,-0.271374,0.605378,-0.198698,-0.306982,-0.215272,-0.021564,-0.165817,-0.198518,-0.116013,...,-0.023054,0.303734,-0.035542,-0.021564,-0.057423,-0.944995,-0.434898,4.975693e-13,-7.226466e-12,0.750131
2,-0.178098,3.684955,-1.651861,-0.198698,-0.306982,-0.215272,-0.021564,-0.165817,-0.198518,-0.116013,...,-0.023054,0.303734,-0.035542,-0.021564,-0.804794,1.395062,0.737599,4.975693e-13,-7.226466e-12,-0.078889
3,-0.178098,-0.271374,0.605378,-0.198698,-0.306982,-0.215272,-0.021564,-0.165817,-0.198518,-0.116013,...,-0.023054,0.303734,-0.035542,-0.021564,0.391000,-0.277369,-0.044066,-8.581099e-01,-7.226466e-12,-0.078889
4,-0.178098,-0.271374,0.605378,-0.198698,-0.306982,-0.215272,-0.021564,6.030732,-0.198518,-0.116013,...,-0.023054,0.303734,-0.035542,-0.021564,-0.356371,0.085944,-1.607395,4.975693e-13,-7.226466e-12,-0.907909

In [654]:
import time
tStart = time.time()#計時開始

from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier(criterion = 'entropy', max_depth = 10, max_leaf_nodes = 150)#, max_depth = 10, max_leaf_nodes = 150
model.fit(x_train, y_train)
print(model.get_params())

tEnd = time.time()#計時結束

{'class_weight': None, 'criterion': 'entropy', 'max_depth': 10, 'max_features': None, 'max_leaf_nodes': 150, 'min_impurity_decrease': 0.0, 'min_impurity_split': None, 'min_samples_leaf': 1, 'min_samples_split': 2, 'min_weight_fraction_leaf': 0.0, 'presort': False, 'random_state': None, 'splitter': 'best'}

In [577]:
# import time
# tStart = time.time()#計時開始

# from sklearn.ensemble import RandomForestClassifier
# model = RandomForestClassifier(n_estimators=30,criterion='entropy' ,max_depth = 30, max_leaf_nodes = 150)
# model.fit(x_train,y_train)
# print(model.get_params())

# tEnd = time.time()#計時結束

In [669]:
import time
tStart = time.time()#計時開始

from sklearn.neural_network import MLPClassifier
model = MLPClassifier(solver='adam',hidden_layer_sizes=(8, 8),activation='relu', learning_rate_init=0.1) #‘lbfgs’, ‘sgd’, ‘adam’   'identity', 'logistic', 'tanh', 'relu'
model.fit(x_train,y_train)

tEnd = time.time()#計時結束

In [670]:
# Predicting the Test set results
y_pred = model.predict(x_test)

In [671]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test,y_pred)
cm

array([[10425,   935],
       [ 1636,  2064]], dtype=int64)

In [672]:
# from sklearn.model_selection import cross_val_score
# scores = cross_val_score(model, x_train,y_train, cv=5)
# scores

In [673]:
from sklearn.metrics import f1_score,precision_score,recall_score,accuracy_score
accuracy = accuracy_score(y_test, y_pred)
error_rete = 1-accuracy
precision = precision_score(y_test, y_pred)
recall = recall_score(y_test, y_pred)
f1 = f1_score(y_test, y_pred)

print("accuracy:",accuracy)
#print(error_rete)%
print("precision:",precision)
print("recall:",recall)
print("f1:",f1)
print("time:",tEnd - tStart)#原型長這樣

accuracy: 0.8292828685258964
precision: 0.6882294098032677
recall: 0.5578378378378378
f1: 0.6162113748320645
time: 3.441196918487549

In [506]:
model = MLPClassifier(solver='adam',hidden_layer_sizes=(4, 4, 4))
accuracy: 0.8302124833997344
precision: 0.6802270577105014
recall: 0.582972972972973
f1: 0.6278562072478534
time: 9.722556114196777

In [ ]:
model = MLPClassifier(solver='adam',hidden_layer_sizes=(8, 8, 8))
accuracy: 0.8351261620185922
precision: 0.6826778745121586
recall: 0.6145945945945946
f1: 0.6468496657658939
time: 16.974971055984497

In [ ]:
model = MLPClassifier(solver='adam',hidden_layer_sizes=(16, 16, 16))
accuracy: 0.8324037184594953
precision: 0.6803680981595092
recall: 0.5994594594594594
f1: 0.6373563218390804
time: 23.363336324691772

In [36]:
model = MLPClassifier(solver='adam',hidden_layer_sizes=(8, 8))
accuracy: 0.8327531907840212
precision: 0.6781609195402298
recall: 0.6004070556309362
f1: 0.6369197553076646
time: 10.002572059631348

NameError: name 'MLPClassifier' is not defined

In [ ]:
model = MLPClassifier(solver='adam',hidden_layer_sizes=(16, 8))
accuracy: 0.8289408254599702
precision: 0.6644345238095238
recall: 0.6058344640434192
f1: 0.6337828246983676
time: 20.14415192604065

In [ ]:
model = MLPClassifier(solver='adam',hidden_layer_sizes=(8, 16))
accuracy: 0.8375600861926074
precision: 0.6832344213649851
recall: 0.6248303934871099
f1: 0.6527285613040397
time: 13.553775310516357

In [ ]:
model = MLPClassifier(solver='lbfgs',hidden_layer_sizes=(8, 8))
accuracy: 0.8284435604177026
precision: 0.6687163720215219
recall: 0.5902306648575305
f1: 0.6270270270270271
time: 6.247357368469238

In [ ]:
model = MLPClassifier(solver='sgd',hidden_layer_sizes=(8, 8))
accuracy: 0.8276147853472567
precision: 0.6700626959247649
recall: 0.5800542740841248
f1: 0.6218181818181818
time: 15.37887978553772

In [ ]:
model = MLPClassifier(solver='adam',hidden_layer_sizes=(8, 4))
accuracy: 0.8334162108403779
precision: 0.6808018504240555
recall: 0.5990502035278155
f1: 0.637315048718874
time: 13.260758399963379

In [ ]:
model = MLPClassifier(solver='adam',hidden_layer_sizes=(4, 8))
accuracy: 0.834410740924913
precision: 0.676842889054356
recall: 0.6166892808683854
f1: 0.6453674121405751
time: 7.740442514419556